body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.startButton
		{
		
		height: 500px;
		width: 500px;
		border-radius: 50%;
		border-color:  #7cd431;
		background-color:  #7cd431;
		color: white;
		font-size: 50px;
		font-style: italic;
		font-style: bold;
		font-family: georgia;
		}
		.startButton:hover{
			font-size: 55px;
			background-color: #8CF584;
		}
